{{ define "main" }}
<main role="main" class="column is-two-thirds">
	<div class="blog-post">
		<section>
			<h4 class="title is-4">{{ .Title | default .Site.Title }}</h4>
			<p class="blog-post-meta">{{ .Page.Date.Format "January 02, 2006" }} by <a href="#">epsi</a></p>
		</section>

		<article>
			{{ .Content }}
		</article>
	</div><!-- /.blog-post -->
</main>
{{ end }}

{{ define "aside" }}
<aside class="column is-one-thirds has-background-info">
	<div class="blog-sidebar">
		<h4 class="is-size-4 is-italic">About You</h4>
		<p>Are you an angel ?</p>
	</div><!-- /.blog-sidebar -->
</aside>
{{ end }}