@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

pre {
	font-family: 'Noto Sans KR',consolas, monospace, monospace; /* 1 */
	font-display: auto;
	font-size: 1em; /* 2 */
}

code,
kbd,
samp {
	font-family: 'Noto Sans KR',consolas, monospace, monospace; /* 1 */
	font-display: auto;
	font-size: 1em; /* 2 */
}